@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.card {
    display: flex;
    max-width: 500px;
    margin-top: 3%;
    height: 800px;
    border-radius: 30px;
    border: solid 4px black;
    align-items: center;
    justify-content: center;
}

.icono-top {
    max-width: 100px;
    font-size: 80px;
    position: absolute;
    left: 10px;
    top: 0;
}

.numerosyletra {
    max-width: 300px;
    font-size: 170px;
}

.icono-bottom {
    max-width: 100px;
    font-size: 80px;
    position: absolute;
    right: 10px;
    bottom: 0;   
}